.Shop {
  background-color: white;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5em;
  padding: 1em;
  height: calc(100vh - 48px);
  overflow-y: auto;
  overflow-x: hidden;
}