.container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  /* border: solid purple 1px; */
}

.Shop {
  background-color: white;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
  padding: 1em;
}